/ModelLab5/.idea/
/ModelLab5/src/test
/semester4/kg/lab3/kheynov/bin
/semester4/kg/lab3/kheynov/matrixMul
/semester4/kg/lab3/kheynov/matrixMul.o
/semester4/kg/lab3/riugaa/bin
/semester4/kg/lab3/riugaa/vectorAdd
/semester4/kg/lab3/riugaa/vectorAdd.o
/semester5/pp/Task58/task58
/semester5/fetch_lab.sh
*.out
*.o
/db/.idea
/db/.DS_Store
