/ModelLab5/.idea/
/ModelLab5/src/test
/semester4/kg/lab3/kheynov/bin
/semester4/kg/lab3/kheynov/matrixMul
/semester4/kg/lab3/kheynov/matrixMul.o
/semester4/kg/lab3/riugaa/bin
/semester4/kg/lab3/riugaa/vectorAdd
/semester4/kg/lab3/riugaa/vectorAdd.o
/semester5/pp/labs/Task58/task58
/semester5/fetch_lab.sh
/semester6/web_prog/fetch_from_server.sh
*.out
*.o
/semester6/web_prog/lab2/config.php
/semester6/web_prog/lab3/config.php
/db/.idea
/semester6/web_prog/lab3/kcaptcha/
/db/.DS_Store
/semester6/web_prog/lab3/fckeditor/
/semester6/web_prog/lab4/config.php
